# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage

# Secrets
.env

# Runtime data & media files
app/uploads/*
!app/uploads/.gitkeep
app/renders/*
!app/renders/.gitkeep
app/db.json
